.liquidity-banner-root {
    background: linear-gradient(90deg, #BB7239 0%, #FCEEAE 23.00%, #E09E5B 52.00%, #FCE9A4 75%, #F1D693 83.00%, #E1BD7C 92.00%, #D08A4A 100%);
    backdrop-filter: blur(150px);
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 11px 23px;
    width: 89%;
    max-width: 833px;
    margin: 0px auto 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .liquidity-banner-text-conteiner {
        text-align: center;
        margin: 0px auto;

        .liquidity-banner-text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #000000;

            a {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #312200;
            }
        }

        .liquidity-banner-text.header {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            color: #000000;
        }

        .liquidity-banner-text.small {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #000000;
        }

        .liquidity-banner-text.upper {
            text-transform: uppercase;
        }
    }

    .liquidity-banner-close-wrap {
        cursor: pointer;
        margin-left: 30px;
        margin-top: 5px;

        svg {
            width: 15px;
        }
    }

    .liquidity-banner-left-circle {
        position: absolute;
        left: 30px;
        bottom: -15px;
    }

    .liquidity-banner-left-gif {
        position: absolute;
        left: 20px;

        img {
            width: 64px;
            height: auto;
            position: relative;
            margin: 0 auto;
        }

        @media screen and (max-width: 1035px) {
            display: none;
        }
    }

    .liquidity-banner-right-gif {
        position: absolute;
        right: 20px;

        img {
            width: 64px;
            height: auto;
            position: relative;
            margin: 0 auto;
        }

        @media screen and (max-width: 1035px) {
            display: none;
        }
    }

    .liquidity-banner-right-circle {
        position: absolute;
        right: 30px;
        top: -15px;
        transform: rotate(180deg);
        z-index: -1;
    }
}

@media screen and (max-width: 630px) {
    .liquidity-banner-root {
        .liquidity-banner-left-circle,
        .liquidity-banner-right-circle {
            display: none;
        }
    }
}
